lab1-client/src/main/java/tech/fatalist/itmo/lab1/client/PersonWebService4.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://javaee.service.lab1.itmo.fatalist.tech/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="PersonService" targetNamespace="http://javaee.service.lab1.itmo.fatalist.tech/">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://javaee.service.lab1.itmo.fatalist.tech/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://javaee.service.lab1.itmo.fatalist.tech/" version="1.0">
      <xs:element name="getPersons" type="tns:getPersons"/>
      <xs:element name="getPersonsResponse" type="tns:getPersonsResponse"/>
      <xs:complexType name="getPersons">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
          <xs:element minOccurs="0" name="surname" type="xs:string"/>
          <xs:element minOccurs="0" name="age" type="xs:int"/>
          <xs:element minOccurs="0" name="country" type="xs:string"/>
          <xs:element minOccurs="0" name="city" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getPersonsResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:person"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="person">
        <xs:sequence>
          <xs:element name="age" type="xs:int"/>
          <xs:element minOccurs="0" name="avatar" type="xs:base64Binary"/>
          <xs:element minOccurs="0" name="city" type="xs:string"/>
          <xs:element minOccurs="0" name="country" type="xs:string"/>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
          <xs:element minOccurs="0" name="surname" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="SQLException" type="tns:SQLException"/>
      <xs:complexType name="SQLException">
        <xs:sequence>
          <xs:element minOccurs="0" name="errorCode" type="xs:int"/>
          <xs:element minOccurs="0" name="sQLState" type="xs:string"/>
          <xs:element minOccurs="0" name="message" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getPersons">
    <wsdl:part element="tns:getPersons" name="parameters"> </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SQLException">
    <wsdl:part element="tns:SQLException" name="SQLException"> </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPersonsResponse">
    <wsdl:part element="tns:getPersonsResponse" name="parameters"> </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PersonWebService">
    <wsdl:operation name="getPersons">
      <wsdl:input message="tns:getPersons" name="getPersons"> </wsdl:input>
      <wsdl:output message="tns:getPersonsResponse" name="getPersonsResponse"> </wsdl:output>
      <wsdl:fault message="tns:SQLException" name="SQLException"> </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PersonServiceSoapBinding" type="tns:PersonWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getPersons">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPersons">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPersonsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonService">
    <wsdl:port binding="tns:PersonServiceSoapBinding" name="PersonWebServicePort">
      <soap:address location="http://localhost:8080/lab1-ee-1.0-SNAPSHOT/PersonService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>